<% if office_signed_in? %>
  <%= render :partial => "offices/shared/office_nav_bar" %>
    <div class="container">
      <div class="row">
        <div class="card bg-light" style="width: 20rem; height: 10rem;">
          <div class="card-body" style="width: 20rem; height: 10rem;">
            <h5 class="card-title">Add New Car</h5>
            <p class="card-text">Add New Car</p>
            <% if @office.verified %>
              <%= button_to "Here", new_car_path, :method => "get", class: "btn btn-primary" %>
            <% else %>
            <small style="color: red">Please enter your personal information to get verified and start posting your cars</small>
            <% end %>
          </div>
        </div>
        <div class="card bg-light" style="width: 20rem; height: 10rem;">
          <div class="card-body" style="width: 20rem; height: 10rem;">
            <h5 class="card-title">Manage Cars</h5>
            <p class="card-text">Manage Your Cars</p>
            <%= button_to "Here", own_cars_path, :method => "get", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="card bg-light" style="width: 20rem; height: 10rem;">
          <div class="card-body" style="width: 20rem; height: 10rem;">
            <h5 class="card-title">Manage Bookings</h5>
            <p class="card-text">Mange All Bookings</p>
            <%= button_to "Here", booked_cars_path, :method => "get", class: "btn btn-primary" %>
          </div>
        </div>
        <div class="card bg-light" style="width: 20rem; height: 10rem;">
          <div class="card-body" style="width: 20rem; height: 10rem;">
            <h5 class="card-title">Enter Your Personal Information</h5>
            <p class="card-text">Update Your information</p>
            <%= button_to "Here", personal_information_path, :method => "get", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

    <style media="screen">
      body {
        background: -webkit-gradient(linear, left top, left bottom, from(#F0F8FF), to(#A9A9A9)) fixed;
      }

      .card{
        margin: auto;
      }

      .container {
        margin-top: 20px;
      }
    </style>
<% else %>
  <%= render :partial => "main/shared_error" %>
<%end %>