<%= render :partial => "admins/shared/admin_nav_bar" %>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
      <th scope="col">Verified</th>
      <th scope="col">Verify</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% Office.all.each do |office| %>
    <tr>
      <td><%= office.id %></td>
      <th><%= office.name%></th>
      <th><%= office.last_name%></th>
      <th><%= office.phone_number%></th>
      <th><%= office.address%></th>
      <th><%= customer.verified%></th>
      <th><%= button_to "Verify this Customer", verify_customer_path(customer, verified: true), method: :patch, class: "btn btn-primary btn-sm" %></th>
      <th><%= button_to "Destroy this Customer", customer, method: :delete, class: "btn btn-danger btn-sm" %></th>
    </tr>
    <% end %>
  </tbody>
</table>

<footer>
  <%= button_to "Back", admins_path, :method => "get", class: "btn btn-outline-dark back-button" %>
</footer>
<style media="screen">

  .table{
    margin:auto;
  }

  .back-button {
    position: absolute;
    left: 15px;
    bottom: 15px;
  }

  body {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F8FF), to(#B0C4DE)) fixed;
  }
</style>
