<div id="<%= dom_id car %>">
  <p>
    <strong>Car plate number:</strong>
    <%= car.car_plate_number %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= car.manufacturer %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>

  <p>
    <strong>Manufacture year:</strong>
    <%= car.manufacture_year %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= car.color %>
  </p>

  <p>
    <strong>Renting price:</strong>
    <%= car.renting_price %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= car.available %>
  </p>

</div>
