<div class="row">
  <div class="column">
 		<%= image_tag @car.photos[0], width: 477, height: 400 %>
 		<%= image_tag @car.photos[1], width: 477, height: 400 %>
 		<%= image_tag @car.photos[2], width: 477, height: 400 %>
  </div>
  <div class="column">
 		<%= image_tag @car.photos[3], width: 477, height: 400 %>
 		<%= image_tag @car.photos[4], width: 477, height: 400 %>
 		<%= image_tag @car.photos[5], width: 477, height: 400 %>
  </div>
</div>

<style media="screen">
  body {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F8FF), to(#A9A9A9)) fixed;
  }
</style>